.question-logo-block {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.question-logo {
	background-color: white;
	border-radius: 50%;
	bottom: 30px;
	color: #00ab9b;
	cursor: pointer;
	display: none;
	font-size: 40px;
	position: fixed;
	right: 40px;
	bottom: 100px;
	transition: transform .2s;
	z-index: 10;
}

.question-logo:hover {
	transform: scale(1.4);
}

.help-chat {
	background: white;
	border-radius: 10px;
	border: 1px solid #ccc;
	bottom: 0;
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 10px;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 8;
}

.help-assistant-block {
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.help-assistant-online:before {
	content: '\25CF';
	color: lawngreen;
	font-size: 20px;
	margin-right: 4px;
}

.help-assistant-minimize {
	bottom: 22px;
	cursor: pointer;
	position: absolute;
	right: 10px;
}

.help-assistant-image {
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 8px;
	height: 35px;
	width: 35px;
}

.help-assistant-message {
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #00ab9b;
	color: white;
	padding: 8px;
	width: 100%;
}

.help-message-block {
	align-items: center;
	display: flex;
	margin-bottom: 8px;
	width: 100%;
}

.help-text-block {
	background: linear-gradient(to bottom, white, rgba(237, 237, 237, 0.25)
		100%);
	border-radius: 10px;
	height: 0;
	max-height: 250px;
	min-height: 250px;
	opacity: 1;
	overflow-y: auto;
	padding: 10px;
	transition: min-height .5s ease-in, visibility .5s, opacity .5s linear;
	visibility: visible;
}

.help-text-block::-webkit-scrollbar {
	width: 4px;
}

.help-text-block::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.help-text-block::-webkit-scrollbar-thumb {
	background: #00ab9b;
}

.help-text-block--hide {
	min-height: 0;
	opacity: 0;
	padding: 0;
	transition: min-height .5s ease-out, visibility .25s, opacity .25s
		linear;
	visibility: hidden;
}

.help-assistant-ask-help-block {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1em;
	margin-top: 1em;
}

.help-assistant-ask-help {
	border: 1px solid #00ab9b;
	border-radius: 6px;
	background-color: white;
	padding: 10px 20px;
}

.help-assistant-ask-help:hover {
	border: 1px solid #ccc;
	background-color: #00ab9b;
	color: white;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
	.help-text-block {
		min-height: 168px;
	}
	
	.help-text-block--hide {
	    min-height: 0;
	}
}

@media only screen and (min-width: 1024px) {
	.question-logo {
		display: block;
	}
	.help-chat {
		bottom: 150px;
		max-width: 300px;
		opacity: 0;
		transition: all .5s linear, visibility 0s, opacity .25s linear;
		visibility: hidden;
	}
	.help-chat--show {
		opacity: 1;
		transform: translateX(-40px);
		visibility: visible;
	}
	.help-text-block::-webkit-scrollbar-track, .help-text-block::-webkit-scrollbar-thumb
		{
		opacity: 0;
		transition: visibility 0s, opacity .25s linear;
		visibility: hidden;
	}
	.help-text-block:hover::-webkit-scrollbar-track, .help-text-block:hover::-webkit-scrollbar-thumb
		{
		opacity: 1;
		visibility: visible;
	}
}