.message-block {
	display: block;
	position: relative;
}

.message {
	color: green;
	opacity: 0;
	position: absolute;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;
	width: 100%
}

.message--show {
	opacity: 1;
	position: relative;
	visibility: visible;
}

.error-form {
	color: red;
}

.warning-form {
	color: orange;
}